<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<package name="com.bass.test.vo"/> <!-- 해당 패키지안에 있으면서 Alias가 있는 것은 넣어 준다.(주입한다?) -->
  </typeAliases>
</configuration>